/*font-family: 'Quicksand', sans-serif;
font-family: 'Raleway', sans-serif;
font-family: 'Playfair Display', serif;*/

body {
	font-family: 'Raleway', sans-serif;
	/*playfair*/
	color: #fafafa;
	background-color: #101010;
}

nav li {
	list-style: none;
}

a {
	text-decoration: none;
	color: #fefefe;
}
a:hover {
	color: #7989ff;
}
/*.icons {
	position: relative;
	background-color: #aaaaaa;
	margin: 5em;
}*/
.icon {
/*  position: relative;
  display: inline-block;
  width: 12em;
  height: 10em;*/
	font-size: 1em; /* control icon size here */
}

/*CLOUDY*/
.cloud {
	position: absolute;
	display: inline-block;
	background-color: #fafafa;
	height: 3.5em;
	width: 8em;
	left: 50%;
	top: 30%;
	border-radius: 5em;
}
.cloud:before {
	content: '';
	position: absolute;
	display: inline-block;
	background-color: #fafafa;
	height: 4em;
	width: 4em;
	border-radius: 100%;
	left: 2em;
	top: -1.8em;
}

.cloud2 {
	z-index: -1;
	position: absolute;
	display: inline-block;
	background-color: #aeaeae;
	height: 1.8em;
	width: 5em;
	left: 7em;
	top: -.8em;
	border-radius: 5em;
	animation: toleft 5s infinite linear;
}
@keyframes toleft {
	0% {
		opacity:0;
		left: 7em;}
	50% {
		opacity: 1;
		left: 2em;
	}
	100% {
		opacity: 0;
		left: -3em;
	}
}

.cloud2:before {
	content: '';
	position: absolute;
	display: inline-block;
	background-color: #aeaeae;
	height: 2.7em;
	width: 2.7em;
	border-radius: 100%;
	left: 1.2em;
	top: -1em;
}

/*SUNNY*/
.sun {
	position: absolute;
	display: inline-block;
	background-color: #fff94c;
	height: 5em;
	width: 5em;
	left: 50%;
	top: 45%;
	border-radius: 100%;
	animation: spin 30s infinite linear;
}
@keyframes spin {
	100% {transform: rotate(360deg);}
}
.ray {
	position: absolute;
	display: inline-block;
	content: '';
	height: 2.2em;
	width: .7em;
	border-radius: 3em;
	background-color: #ffe83b;
	top: -2.8em;
	left: 2.1em;
	box-shadow: 0 8.3em #ffe83b;
}

.ray:before {
	content: '';
	position: absolute;
	display: inline-block;
	content: '';
	height: 2.2em;
	width: .7em;
	border-radius: 3em;
	background-color: #ffe83b;
/*	top: -2.8em;
	left: 2.1em;*/
	box-shadow: 0 8.3em #ffe83b;
	transform: rotate(60deg);
	transform-origin: 50% 5.5em;
}
.ray:after {
	content: '';
	position: absolute;
	display: inline-block;
	content: '';
	height: 2.2em;
	width: .7em;
	border-radius: 3em;
	background-color: #ffe83b;
/*	top: -2.8em;
	left: 2.1em;*/
	box-shadow: 0 8.3em #ffe83b;
	transform: rotate(-60deg);
	transform-origin: 50% 5.3em;
}

/*SLIGHTLY CLOUDY*/
.slightly-cloudy .sun {
	position: absolute;
	display: inline-block;
	background-color: #fff94c;
	height: 5em;
	width: 5em;
	left: 50%;
	top: 70%;
	border-radius: 100%;
}

.slightly-cloudy .cloud {
	position: absolute;
	display: inline-block;
	background-color: #fafafa;
	height: 3.5em;
	width: 8em;
	left: 50%;
	top: 76%;
	border-radius: 5em;
}







/*img zooms in when hovered*/
/*doesnt work with span on top width + height 100% boo*/
/*.proj img {
	transition: all 1s ease;
}
.proj img:hover {
	transform: scale(1.1);
}
*/
footer {
	bottom: 0;
	position: fixed;

}
