/*font-family: 'Quicksand', sans-serif;
font-family: 'Raleway', sans-serif;
font-family: 'Playfair Display', serif;*/

body {
	font-family: 'Raleway', sans-serif;
	/*playfair*/
	color: #fafafa;
	background-color: #101010;
}

nav li {
	list-style: none;
}

a {
	text-decoration: none;
	color: #fefefe;
}
a:hover {
	color: #7989ff;
}

/*img zooms in when hovered*/
/*doesnt work with span on top width + height 100% boo*/
/*.proj img {
	transition: all 1s ease;
}
.proj img:hover {
	transform: scale(1.1);
}
*/

