/*font-family: 'Quicksand', sans-serif;
font-family: 'Raleway', sans-serif;
font-family: 'Playfair Display', serif;*/

body {
	font-family: 'Raleway', sans-serif;
	/*playfair*/
	color: #fafafa;
	background-color: #101010;
}

nav li {
	list-style: none;
}

a {
	text-decoration: none;
	color: #fefefe;
}
a:hover {
	color: #7989ff;
}
/*.icons {
	position: relative;
	background-color: #aaaaaa;
	margin: 5em;
}*/
.icon {
	display: block;
	font-size: 1em; /* control icon size here */
}

/*.icons {}*/


/*CLOUDY*/
.cloud {
	position: absolute;
	display: inline-block;
	background-color: #fafafa;
	height: 3.5em;
	width: 8em;
	left: 50%;
	top: 30%;
	border-radius: 5em;
}
.cloud:before {
	content: '';
	position: absolute;
	display: inline-block;
	background-color: #fafafa;
	height: 4em;
	width: 4em;
	border-radius: 100%;
	left: 2em;
	top: -1.8em;
}

.cloud2 {
	z-index: -1;
	position: absolute;
	display: inline-block;
	background-color: #aeaeae;
	height: 1.8em;
	width: 5em;
	left: 7em;
	top: -.8em;
	border-radius: 5em;
	animation: toleft 5s infinite linear;
}
@keyframes toleft {
	0% {
		opacity:0;
		left: 7em;}
	50% {
		opacity: 1;
		left: 2em;
	}
	100% {
		opacity: 0;
		left: -3em;
	}
}

.cloud2:before {
	content: '';
	position: absolute;
	display: inline-block;
	background-color: #aeaeae;
	height: 2.7em;
	width: 2.7em;
	border-radius: 100%;
	left: 1.2em;
	top: -1em;
}

/*SUNNY*/
.sun {
	position: absolute;
	display: inline-block;
	background-color: #fff94c;
	height: 5em;
	width: 5em;
	left: 50%;
	top: 45%;
	border-radius: 100%;
	animation: spin 60s infinite linear;
}
@keyframes spin {
	100% {transform: rotate(360deg);}
}
.ray {
	position: absolute;
	display: inline-block;
	content: '';
	height: 2.2em;
	width: .7em;
	border-radius: 3em;
	background-color: #ffe83b;
	top: -2.8em;
	left: 2.1em;
	box-shadow: 0 8.4em #ffe83b;
	animation: blink 3s infinite linear;
}
@keyframes blink {
	0% {opacity: .5;}
	50% {opacity: 1;}
	90% {opacity: 1;}
	100%{opacity: .5;}
}

.ray:before {
	content: '';
	position: absolute;
	display: inline-block;
	content: '';
	height: 2.2em;
	width: .7em;
	border-radius: 3em;
	background-color: #ffe83b;
/*	top: -2.8em;
	left: 2.1em;*/
	box-shadow: 0 8.4em #ffe83b;
	transform: rotate(60deg);
	transform-origin: 50% 5.3em;
}
.ray:after {
	content: '';
	position: absolute;
	display: inline-block;
	content: '';
	height: 2.2em;
	width: .7em;
	border-radius: 3em;
	background-color: #ffe83b;
/*	top: -2.8em;
	left: 2.1em;*/
	box-shadow: 0 8.4em #ffe83b;
	transform: rotate(-60deg);
	transform-origin: 50% 5.3em;
}

/*SLIGHTLY CLOUDY*/
.slightly-cloudy .sun {
	position: absolute;
	display: inline-block;
	background-color: #fff94c;
	height: 5em;
	width: 5em;
	left: 50%;
	top: 70%;
	border-radius: 100%;
}

.slightly-cloudy .cloud {
	position: absolute;
	display: inline-block;
	background-color: #fafafa;
	height: 3.5em;
	width: 8em;
	left: 50%;
	top: 76%;
	border-radius: 5em;
}

.rainy .cloud {
	position: absolute;
	display: inline-block;
	background-color: #fafafa;
	height: 3.5em;
	width: 8em;
	left: 30%;
	top: 30%;
	border-radius: 5em;
}
.rainy .rain {
	z-index: -1;
	position: absolute;
	display: inline-block;
	background-color: #00baff;
	height: 3em;
	width: .7em;
	left: 30%;
	top: 1em;
	border-radius: 5em;
	box-shadow: 2em 0em #00baff;
	animation: fall 2s infinite linear;
}
@keyframes fall {
	0% {opacity: 0;}
	30%{opacity: 1;}
	100%{
		height: .7em;
		opacity: 0;
		top: 7em;
	}
}
.rain:before {
	content: '';
	position: absolute;
	display: inline-block;
	background-color: #00baff;
	height: 1em;
	width: .7em;
	left: 3.5em;
	top: -1.1em;
	border-radius: 5em;
	box-shadow: -2.7em -.5em #00baff;
}
.rain:after {
	content: '';
	position: absolute;
	display: inline-block;
	background-color: #00baff;
	height: 1em;
	width: .7em;
	left: -.8em;
	top: -1em;
	border-radius: 5em;
	box-shadow: 3em -1.5em #00baff;
}

.thunder .cloud {
	position: absolute;
	display: inline-block;
	background-color: #fafafa;
	height: 3.5em;
	width: 8em;
	left: 30%;
	top: 50%;
	border-radius: 5em;
}
.thunder .lightning {
	position: absolute;
	display: inline-block;
	background-color: #fff94c;
	height: 3em;
	width: .7em;
	left: 30%;
	top: 1em;
	border-radius: 5em;
	transform: rotate(30deg);
	/*box-shadow: 1.5em 2.33em #fff94c;*/
	animation: flicker 1s infinite linear;
}
@keyframes flicker{
	0%{background-color: #fff94c;}
	70%{background-color: #fff94c;}
	90%{background-color: #dadada;}
	100%{background-color: #fff94c;}
}
.lightning:before {
	content: '';
	position: absolute;
	display: inline-block;
	background-color: #fff94c;
	height: 2.1em;
	width: .7em;
	left: .8em;
	top: 1.65em;
	border-radius: 5em;
	transform: rotate(90deg);
	animation: flicker 1s infinite linear;
}
.lightning:after {
	content: '';
	position: absolute;
	display: inline-block;
	background-color: #fff94c;
	height: 3em;
	width: .7em;
	left: 1.5em;
	top: 2.33em;
	border-radius: 5em;
	animation: flicker 1s infinite linear;
}

.lightning:nth-child(2) {
	font-size: .7em;
	top: 3em;
	left: 7.5em;
}


/*img zooms in when hovered*/
/*doesnt work with span on top width + height 100% boo*/
/*.proj img {
	transition: all 1s ease;
}
.proj img:hover {
	transform: scale(1.1);
}
*/
footer {
	bottom: 0;
	position: fixed;

}
